.list-group-item:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  background-color: #0275d8;
  color: white;
}

#remove-history:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  background-color: #d9534f;
  color: white;
}

.current-data-list,
.forecast-data-list {
  list-style-type: none;
}

.forecast-icon {
  width: 25%;
}

#forecast-div {
  justify-content: space-around;
}

#test {
  display: inline;
  margin: 0px auto 0px auto;
}

.low {
  display: inline;
  margin: 0px auto 0px auto;
  padding: 2px;
  background-color: lightgreen;
}

.moderate {
  display: inline;
  margin: 0px auto 0px auto;
  padding: 2px;
  background-color: yellow;
}

.high {
  display: inline;
  margin: 0px auto 0px auto;
  padding: 2px;
  background-color: orange;
}

.veryhigh {
  display: inline;
  margin: 0px auto 0px auto;
  padding: 2px;
  background-color: red;
}

.extreme {
  display: inline;
  margin: 0px auto 0px auto;
  padding: 2px;
  background-color: violet;
}

@media screen and (max-width: 991px) {
  .forecast-icon {
    width: 10%;
  }
}
